@import '../../styles/breakpoint.scss';
@import '../../styles/variables.scss';

.workers {
  margin: 12px 16px;
  margin-bottom: 0;

  @include for-large-up {
    margin: 16px;
  }
}

.worker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  text-decoration: none;

  &__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  &__info {
    margin-left: 16px;
  }

  &__name {
    color: $color-text-black;
    line-height: $line-height;
    font-weight: 500;
  }

  &__tag {
    font-size: $f-size - 2;
    line-height: $line-height - 2;
    color: $color-ligth-gray;
    margin-left: 4px;
  }

  &__description {
    font-size: $f-size - 3;
    line-height: $line-height - 4;
    color: $color-gray;
  }

  &__birthday {
    margin-left: auto;
    font-size: $f-size - 1;
    line-height: $line-height;
    color: $color-gray;
  }
}

.year {
  display: flex;
  height: 68px;
  justify-content: center;
  align-items: center;

  &__line {
    width: 72px;
    color: $line-ligth-gray;
  }

  &__date {
    font-size: $f-size - 1;
    line-height: $line-height;
    font-weight: 500;
    color: $line-ligth-gray;
  }
}
