@import '../../../styles/variables.scss';

.failed {
  width: 100%;
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: $f-size + 1;
    line-height: $line-height + 2;
    font-weight: 600;
  }

  &__description {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: $line-height;
    color: $color-ligth-gray;
  }
}
