@import '../../../styles/breakpoint.scss';
@import '../../../styles/variables.scss';

.search {
  margin: 0 16px;
  margin-top: 50px;
  width: 100%;
  max-width: 343px;
  display: flex;
  align-items: center;
  gap: 10px;

  @include for-large-up {
    margin-top: 12px;
  }

  &__input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px 44px;
    padding-right: 12px;
    caret-color: $color-blue;
    font-size: $f-size - 1;
    line-height: $line-height;
    font-weight: 500;
    border-radius: 16px;
    border: none;
    background-color: $color-bg-light-gray;

    @include for-large-up {
      min-width: 1248px;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::placeholder {
      color: $color-ligth-gray;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .search__filter {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    left: 30px;
    top: 46px;
    transform: translateY(50%);
    font-size: 24px;
    color: $color-ligth-gray;

    .search__input:focus ~ & {
      color: $color-text-black;
    }

    @include for-large-up {
      top: 53px;
    }
  }

  &__filter {
    position: absolute;
    right: 30px;
    top: 46px;
    transform: translateY(50%);
    font-size: $f-size + 8;
    color: $color-ligth-gray;

    &_active {
      color: $color-blue;
    }

    @include for-large-up {
      top: 53px;
    }
  }

  &__cancel {
    display: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    height: 40px;
    width: 78px;
    font-size: $f-size - 2;
    line-height: $line-height - 2;
    font-weight: 600;
    color: $color-blue;
    z-index: 10;

    .search__input:focus ~ & {
      display: block;
    }
  }
}
