.header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.33px solid rgba(195, 195, 198, 1);

  &__title {
    display: none;
    margin-top: 16px;
    margin-left: 24px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;

    @include for-large-up {
      display: block;
    }
  }
}
