@import '../../styles/breakpoint.scss';
@import '../../styles/variables.scss';

.error {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: $f-size + 1;
    font-weight: 600;
    line-height: $line-height + 2;

    &_mobile {
      display: block;

      @include for-large-up {
        display: none;
      }
    }

    &_desctop {
      display: none;

      @include for-large-up {
        display: block;
      }
    }
  }

  &__description {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: $color-ligth-gray;
  }

  &__link {
    margin-top: 12px;
    color: $color-blue;
    text-decoration: none;
    line-height: $line-height;
    font-weight: 600;

    &_mobile {
      display: block;

      @include for-large-up {
        display: none;
      }
    }

    &_desctop {
      display: none;

      @include for-large-up {
        display: block;
      }
    }
  }
}
